@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}

body {
    background-color: #121417;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 400px;
    height: 415px;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    border-radius: 35px;
    background-color: #1F2630;
    color: #ffffff;
}

.box {
    width: 80%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-img {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #262F38;
}

h1 {
    font-size: 1.7rem;
}

p {
    font-size: 1rem;
    color: hsl(217, 12%, 63%);
}

.circles-box {
    display: flex;
    justify-content: space-between;
    border: none;
    margin-bottom: 30px;
}

.circle {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: #262F38;
    font-size: 1rem;
    color: hsl(217, 12%, 63%);
}

.circle:hover {
    transition: .8s;
    background-color: #7B8898;
    color: #fff;
    cursor: pointer;
}

.circle:active {
    color: #fff;
    background-color: #7B8898;
}

.btn-submit {
    width: 100%;
    height: 45px;
    background-color: #D96F21;
    border-radius: 22px;
    color: white;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 2px;
}

.btn-submit:hover {
    transition: .5s;
    cursor: pointer;
    background-color: #fff;
    color: #D96F21;
    font-weight: 400;
}

/* THANK YOU*/

.thank-you {
    width: 410px;
    height: 415px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 35px;
    background-color: #1F2630;
    color: #ffffff;
    text-align: center;
}

.tk-box {
    width: 80%;
    height: 85%;
    display: flex;
    flex-direction: column;
}

.tk-image {
    width: 170px;
    margin: 0 auto;
}

#text {
    width: 195px;
    margin: 30px auto;
    padding: 5px 0px;
    border-radius: 25px;
    background-color: #262F38;
    color: #D96F21;
    text-align: center;
}

.tk-h1 {
    margin-bottom: 15px;
}


.labels {
    width: 30px;
    height: 30px;
    background-color: #7B8898;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    display: none;
    width: 20px;
}

input:checked+.circle {
    background-color: #D96F21;
    color: #fff;
}

.modal{
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: #000000db;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    z-index: 1000;
    color: white;
}

.modal-content{
    width: 300px;
    height: 180px;
    padding: 0 20px;
    background-color: #1F2630;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.modal-btn{
    background-color: #ea1e1ed9;
    width: 100%;
    height: 45px;
    border-radius: 22px;
    color: white;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 2px;

}


@media (max-width: 375px) {

    .container,
    .thank-you {
        width: 350px;
        height: 365px; ;
        margin: 0px 15px 0px 0px;
        border-radius: 20px;
    }
    #text {
        width: 195px;
        margin: 20px auto;
        padding: 5px 0px;
        border-radius: 25px;
        background-color: #262F38;
        color: #D96F21;
        text-align: center;
    }
}